<!DOCTYPE html>
<html>
<head>
	<title>SRPJD : Sistem Request Penggantian Jadwal Dosen</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>
	<div id="header">
		<div class="div1">
			<div class="div2"><strong>SISTEM REQUEST PENGANTIAN JADWAL DOSEN</strong></div>
			<div id="logged" class="div3"></div>
		</div>
		<div id="menu">
					<ul class="left">
			  <li><a href="#" class="top">Home</a>
			  </li>
			  <li><a class="top" href="#">Logout</a></li>
			</ul>
			
			<ul class="right">
			  <li class="top"><a href="#"></a></li>
			</ul>
				</div>
	</div>                                                                                                           
<embed class="jadwalPDF" src="../../asset/1 Sejarah Sistem Operasi.pdf" width="800" height="350"> </embed>
<form action="#" method="POST" >
  <textarea rows="10" cols="100" name="requestline" class="formrequest">
  </textarea><br>
  <input type="submit" name="submit" value="request"> 
                
</form>

</body>
</html>